/******************
COMMAND
******************/

* {  
    margin: 0;  
    padding: 0; 
    box-sizing:border-box;
}

/******************
INTESTAZIONE PAGINA
******************/
header{
    background-color:#ADD8E6;
    padding:18px 0;
}

header .flex-container{
    display:flex;
    width:70%;
    margin:0 auto;
    background-color:#DAA520;
    border: 1px dotted #000000;
    font-size:16px;
}

.flex-container .flex-item-lateral{
    padding:14px;
    flex-grow:1;
}

.flex-container .flex-item-central{
    list-style-type: none;
    display:flex;
    padding:14px;
    border-right:2px dotted #000000;
    border-left:2px dotted #000000;
    flex-grow:3;
    justify-content:center;
}

.flex-container .flex-item-central > li{
    margin-left:12px;
    margin-right:12px;
}

header .flex-container .flex-item-lateral:last-child{
    border-left:2px dotted #000000;
    text-align:right;
}
header .flex-container .flex-item-lateral:first-child{
    border-right:2px dotted #000000;
}


/******************
CORPO PAGINA
******************/

/******************
PRIMA SEZIONE
******************/

main .background{
    padding-top:50px;
    padding-bottom:50px;
}

main #first-section{
    background-color:#00008B;;
}

main .background .unique-box{
    width:50%;
    height:400px;
    background-color:#EE82EF;
    margin: 0 auto;
    border:2px dotted black;
}


/******************
SECONDA SEZIONE
******************/

main .background .contain-flex{
    width:70%;
    height:500px;
    display:flex;
    margin:0 auto;
}

main .background .contain-flex .first-item{
    border:2px dotted black;
    background-color:#1F90FF;
    flex-grow:2;
}

main .background .contain-flex .second-item{
    border:2px dotted black;
    background-color:#FFC0CA;
    flex-grow:1;
}

/******************
TERZA SEZIONE
******************/

main .background:nth-child(3){
    background-color:#D3D3D3;
}

main .background .contain-flex #order1{
    order:2;
}
main .background .contain-flex #order2{
    order:1;
}

/******************
QUARTA SEZIONE
******************/

/**NON C'E' NULLA **/



/******************
QUINTA SEZIONE
******************/
main .background:nth-child(5){
    background-color:#D3D3D3;
}

main .background #second-box-unique{
    width:70%;
    background-color:#228B23;
    height:900px;
}


/******************
SESTA SEZIONE
******************/

main #sixth-section{
    background-color:#23272A;
    padding-top:10px;
    padding-bottom:40px;
}
main #sixth-section .sixth-container{
    height:580px;
    width:70%;
    display:flex;
    margin:0 auto;
    border: 2px dotted #000000;
}

main #first-item-sixth{
    flex-grow:1;
    background-color:#F18080;
}

main #second-item-sixth{
    flex-grow:3;
    background-color:#1EB2AA;
    display:flex;
    
}

.first-son-item, .second-son-item, .third-son-item, .fourth-son-item{
    border: 2px dotted #FFFFFF;
    flex-grow:1;
}


/******************
PIEDE DELLA PAGINA
******************/

footer{
    background-color:#23272A;
    padding-top: 30px;
    border-top: 2px solid #000000;
    border-bottom:2px solid #000000;
}

footer .contain-flex{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:#7FFFD4;
    width:70%;
    height:80px;
    margin: 0 auto;
}

footer .contain-flex .flex-item{
    background-color:#FFB6C1;
    border: 2px dotted #000000;
    padding:10px;
}